.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .container .container2{
    width: 100%;
  }
  .container .container1{
    width: 100%;
    display: flex;
    flex-direction:row;
    
    
  }
  .container1 .cat{
    width: 50%;
  }
  .container1 .fee{
    width: 50%;
  }
  @media (max-width: 576px) {
    .container .container2{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
  .container1 .cat{
    width: 100%;
  }
  .container1 .fee{
    width: 100%;
  }
      .container .container1{
          width: 100%;
          display: flex;
          flex-direction:column;
    }
  }
  
  @media (max-width: 767px) {
    .container .container2{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
  .container1 .cat{
    width: 100%;
  }
  .container1 .fee{
    width: 100%;
  }
      .container .container1{
          width: 100%;
          display: flex;
          flex-direction:column;
    }
  }
    /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .container{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
      .container .container1{
          width: 100%;
          display: flex;
          flex-direction:column;
    }
    .container1 .cat{
      width: 100%;
    }
    .container1 .fee{
      width: 100%;
    }
    }
   
    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
      .container .container1{
          width: 100%;
          display: flex;
          flex-direction:column;
    }
    .container1 .cat{
      width: 100%;
      padding: 5px;
    }
    .container1 .fee{
      width: 100%;
      padding: 5px;
    }
    }
   
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      .container .container1{
          width: 100%;
          display: flex;
          flex-direction:row;
    }
    .container1 .cat{
      width: 100%;
      padding: 5px;
    }
    .container1 .fee{
      width: 100%;
      padding: 5px;
    }
    }