.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.container .container1{
    width: 100%;
    display: flex;
    flex-direction:row;
    
}