
<p-toast position="top-right"></p-toast>
<div class=" container flex justify-content-center  h-full m-5 h-100 w-100">
<form [formGroup]="faqform" (ngSubmit)="submitDeatils()" >
    <p-card header="Ask your Question" >
        <div class="field m-5">
            <div class="p-float-label">
                <input id="float-input" formControlName="email" type="text" pInputText> 
                <label for="float-input">email</label>
            
           
            </div>
        </div>
        <div class="field m-5">
            <div class="p-float-label">
                <input id="float-input" formControlName="message" type="text" pInputText> 
                <label for="float-input">Question</label>
            
            
            </div>
        </div> 
        <div class="buttons flex justify-content-center">
        
            <button pButton type="submit" class="p-button-raised p-button-rounded flex justify-content-center align-items-center">Sent Message</button>
        </div>
        
        </p-card>
    
    
</form>
</div>
