
  .nav1{
    width: 100%;
    display: flex;
    flex-direction: row;

  }
  .nav1 .first{
    width: 20%;
  }
  .nav1 .second{
    width: 80%;
  }
  @media (max-width: 768px) {
    .nav1{
      width: 100%;
      display: flex;
      flex-direction: column;
  
    }
    .nav1 .first{
      width: 100%;
    }
    .nav1 .second{
      width: 100%;
    }
    
}

 