.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    padding: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}
.container{
    display: flex; 
    width: 100%;
   
    
}
.container .card{
    width: 20%;
    margin: 0.5rem;
    background-color: rgb(28, 101, 184);
    border-radius: 15px;

}
.container .card  p-card{
    background-color: rgb(184, 28, 28);
    width: 25%;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space;
    align-items: center;
    /* padding: 20px; */
    /* max-width: 1200px; */
    margin: 0 auto;
  }
  
  /* Card styles */
  /* .card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  } */
  
  /* .card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
  } */
  
  /* .card-content {
    padding: 20px;
  } */
  
  .card-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .card-content p {
    margin-bottom: 15px;
  }
  
  .card-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 15px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 992px) {
    .container .card{
        width: 40%;
        margin: 0.5rem;
        background-color: rgb(28, 101, 184);
        
    
    }
  }
  
  @media (max-width: 768px) {
    .container .card{
        width: 40%;
        margin: 0.5rem;
        background-color: rgb(28, 101, 184);
    
    }
  }