
<p>layout works!</p>
<div class="home"  >
   
<div class="container">
    <div class="card" [style]="{backgroundColor:'var(--primary-400)'}">
       <p-card header="cloudBytes" [style]="{backgroundColor:'var(--primary-400)'}">
          <p class="m-0">
               
          </p>
       </p-card>
    </div>
    <div class="card">
        <p-card header="ExecutiveEdge" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                
           </p>
        </p-card>
     </div>
     <div class="card">
        <p-card header="BigLead" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                 
           </p>
        </p-card>
     </div>
     <div class="card">
        <p-card header="product" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                 
           </p>
        </p-card>
     </div>
</div>
<div class="container">
    <div class="card">
       <p-card header="MindSpark" [style]="{backgroundColor:'var(--primary-400)'}">
          <p class="m-0">
               
          </p>
       </p-card>
    </div>
    <div class="card">
        <p-card header="KnowledgeStand" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                
           </p>
        </p-card>
     </div>
     <div class="card">
        <p-card header="FAQS" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                 
           </p>
        </p-card>
     </div>
     <div class="card">
        <p-card header="Setting" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                 
           </p>
        </p-card>
     </div>
</div>
<div class="container">
    <div class="card">
       <p-card header="Devloper" [style]="{backgroundColor:'var(--primary-400)'}">
          <p class="m-0">
               
          </p>
       </p-card>
    </div>
    <div class="card">
        <p-card header="digitalFingers" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                
           </p>
        </p-card>
     </div>
     <div class="card">
        <p-card header="virtualLearn" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                 
           </p>
        </p-card>
     </div>
     <div class="card">
        <p-card header="Title" [style]="{backgroundColor:'var(--primary-400)'}">
           <p class="m-0">
                 
           </p>
        </p-card>
     </div>
</div>
</div>





