
<div class="container">
    <div class="car">
        <h1>categoery</h1>
    </div>
    <div class="card1 m-3">
        <p-card header="Title">
            <p class="m-0">
                 repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
        
    </div>
    <div class="card1 m-3">
        <p-card header="Title">
            <p class="m-0">
                umquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
        
    </div>
    <div class="card1 m-3">
        <p-card header="Title">
            <p class="m-0">
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
        
    </div>
</div>

