<div class="container" style="display: flex; width: 100%;">

  <div class="container m-0 p-5"  style="width: 50%;">
    <div class="con1" style=" margin: 0px; text-align: center; padding: 0px; color:rgb(35, 135, 248)">
        <h2 >Feedback Form</h2>
       
            <hr class="line">
        
    </div>
    <form (submit)="submitFeedback()"  style="text-align: center;">
      <div *ngFor="let question of questions" class="question" style="align-items: center; margin: 10px; padding: 10px;">
        <!-- <h1>{{email}}</h1> -->
        <p>{{ question }}</p>
        <div class="rating">
          <label *ngFor="let rating of [1, 2, 3, 4, 5]">
            
            <input type="radio" name="{{ question }}" [value]="rating" [(ngModel)]="ratings[question]">
            {{ rating }}
          </label>
        </div>
      </div>
      <button type="submit">Submit Feedback</button>
    </form>
  </div>
<hr>

  <div class="container  m-0 p-5"  style="width: 50%;">
    <div class="con1" style=" margin: 0px; text-align: center; padding: 0px; color:rgb(35, 135, 248)">
        <h2 >Feedback List</h2>
       
            <hr class="line">
        
    </div>
    <ul>
        
      <li *ngFor="let feedback of feedbackList">
        <!-- <h6>{{email}}</h6> -->
        <h3>{{ feedback.date | date: 'medium' }}</h3>
        <ul>
          <li *ngFor="let item of feedback.feedback">
            <p><strong>{{ item.question }}</strong>: {{ item.rating }}/5</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>