
<!-- <div class="card">
    <h5>Vertical</h5>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div> -->

<!-- <div class="card">
    <h5>Horizontal</h5>
    <p-chart type="bar" [data]="basicData" [options]="horizontalOptions"></p-chart>
</div> -->
<div class="container p-0 m-0">
    <div class="container1 p-0 m-0">
        <h5>feechart</h5>
    </div>
    <div class="container2 p-0 m-0">
        <div class="card m-0" style="height: 500px; width: 600px; padding: 0;">
        
            <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
        </div>
    </div>
    
    </div>
    <!-- <div class="card">
        <h5>Stacked</h5>
        <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
    </div> -->
    
