<div class="container" style=" padding-left: 0px;">
    
        <div class=" dash-box overview-box monthly-views"  [style]="{backgroundColor:'var(--red-300)'}">
            <div class="overview-title">
                PROGRAMS
                <i class="pi pi-arrow-circle-down"></i>
            </div>
            <div class="overview-numbers" style="text-align: center;">
                <strong>35+</strong>
            </div>
        
        </div>
    
   
        <div class=" dash-box overview-box monthly-views"[style]="{backgroundColor:'var(--primary-400)'}">
            <div class="overview-title">
                PROGRAMS
                <i class="pi pi-arrow-circle-down"></i>
            </div>
            <div class="overview-numbers" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                <strong>35+</strong>
            </div>
            <div class="overview-ratios"></div>
            <!-- <img
                src="img/icon-sales.png"
                
            /> -->
        
    </div>
        <div class=" dash-box overview-box monthly-views"[style]="{backgroundColor:'var(--purple-300)'}">
            <div class="overview-title">
                PROGRAMS
                <i class="pi pi-arrow-circle-down"></i>
            </div>
            <div class="overview-numbers" style="text-align: center;">
                <strong>35+</strong>
            </div>
            <div class="overview-ratios"></div>
            <!-- <img
                src="img/icon-sales.png"
                
            /> -->
        </div>
   
   
        <div class=" dash-box overview-box monthly-views"[style]="{backgroundColor:'var(--pink-200)'}">
            <div class="overview-title">
                PROGRAMS
                <i class="pi pi-arrow-circle-down"></i>
            </div>
            <div class="overview-numbers" style="text-align: center;">
                <strong>35+</strong>
            </div>
            <div class="overview-ratios"></div>
            <!-- <img
                src="img/icon-sales.png"
                
            /> -->
        </div>
    
</div>
