<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation"></p-confirmDialog>



     <p-table #dt [value]="products" [(selection)]="selectedProducts" dataKey="id" styleClass="p-datatable-customer" [rowHover]="true"
            [responsive]="true" [scrollable]="true" 
            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">


            <ng-template pTemplate="caption">
                <div class="table-header flex justify-content-between  ">
                    List of Customers
                
                <div class="extra">
                    
                        <p-button  icon="pi pi-plus" (onClick)="showaddmodal()" label="" ></p-button>
                        
                    
                </div>
            </div>
            </ng-template>
    <ng-template pTemplate="header">
        <tr style="margin: 0px; padding: 0px;">
            <!-- <th pSortableColumn="id">
                <div class="flex justify-content-start align-items-center "  >
                 id
                <p-sortIcon field="id"></p-sortIcon>
               </div>
            </th> -->
            <th pSortableColumn="code">
                <div class="flex justify-content-start align-items-center "  >
                   code
                   <p-sortIcon field="id"></p-sortIcon>
                 </div>
            </th>
            <th pSortableColumn="name" >
                <div class="flex justify-content-start align-items-center "  >
                   Name
                   <p-sortIcon field="name"></p-sortIcon>
                  </div>
            </th>
            <th pSortableColumn="category">
                <div class="flex justify-content-start align-items-center "  >
                    category
                   <p-sortIcon field="category"></p-sortIcon>
                  </div>
                </th>
            <th pSortableColumn="quantity">
                <div class="flex justify-content-start align-items-center "  >
                    Quentity
                   <p-sortIcon field="quantity"></p-sortIcon>
                  </div>
            </th>
            <th></th>
            
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product >
        <tr class="p-selectable-row">
            <!-- <td >
                <span class="p-column-title ">id</span>
                {{product.id}}
            </td> -->
            <td >
                <span class="p-column-title ">code</span>
                {{product.code}}
            </td>
            <td>
                <span class="p-column-title ">Name</span>
                {{product.name}}
            </td>
            <td>
                <span class="p-column-title ">category</span>
                {{product.category}}
            </td>
            <td>
                <span class="p-column-title ">quentity</span>
                {{product.quantity}}
            </td>
            <td>
                <button pButton
                 icon="pi pi-pencil"
                class="p-button-rounded p-button-succes"
                 (click)="showeditProduct(product)" ></button>  
            
                <button pButton
                 icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                 (click)="deleteProduct(product)" ></button>  
            </td>
            
        </tr>
    </ng-template> 
    
    
     <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table> 

<app-add-edit-module
 [displayAddModal]="displayAddModal"
 [selectedproduct]="selectedProduct"
 (clickclose)="hideAddModal($event)"
></app-add-edit-module>

